@charset 'utf-8';
@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

$color1:#edeff2;


body {
    background:#151619;color:#fff;font-family:'Noto Sans',sans-serif;font-weight:300;
}

h2 {
    height:52px;
    border-bottom:1px solid rgb(48, 51, 59, .3);
    font-size:18px;line-height:52px;color:$color1;letter-spacing:-.15px;
}

.sec_secret {
    position:relative;
    background:#202227;padding:0 16px;
    .link_more {
        position:absolute;right:15px;top:17px;
        font-size:14px;line-height:18px;color:#a7acb9;
        &:after {
            content:"";
            display:inline-block;
            width:16px;height:16px;vertical-align:top;
            margin:1px 0 0 4px;
            background:url(../../public/img/btn_right.png) no-repeat 0 0;background-size:16px auto;
        }
    }
    .swiper_secret {
        padding:16px 16px 26px 16px;;
        margin:0 -16px;
        .swiper-slide {
            position:relative;width:161px;height:216px;
            background:#30333b;padding:14px 14px 12px;
            border:1px solid rgba(69, 74, 84, 0.5);border-radius:10px;
            .label {
                display:inline-block;padding:0 10px;height:22px;
                font-size:13px;line-height:22px;color:#fff;
                border-radius:4px;
                &.type1 {
                    background:rgba(134, 161, 202, 0.5);
                }
                &.type2 {
                    background:rgba(134, 202, 186, 0.5);
                }
                &.type3 {
                    background:rgba(245, 119, 141, 0.5);
                }
            }
            .tit {
                display:block;margin-top:12px;
                overflow:hidden;display:-webkit-box;
                text-overflow:ellipsis;-webkit-line-clamp:4;-webkit-box-orient:vertical;word-wrap:break-word;
                font-weight:300;font-size:16px;line-height:21px;
            }
            .info {
                position:absolute;left:14px;right:14px;bottom:0;height:60px;padding:14px 0 0 47px;
                border-top:1px solid rgba(69, 74, 84, 0.5);
                .profile {
                    position:absolute;left:0;top:14px;
                    float:left;width:32px;height:32px;border:1px solid #f9fafb;border-radius:50%;
                    img {
                        width:100%;height:100%;object-fit:cover;border-radius:50%;
                    }
                    &::after {
                        content:"";
                        position:absolute;right:-5px;bottom:0;width:15px;height:15px;border-radius:50%;background:#3384ff;
                    }
                }
                .name {
                    display:block;overflow:hidden;font-size:15px;line-height:18px;color:$color1;text-overflow:ellipsis;white-space:nowrap;
                }
                .txt {
                    display:block;overflow:hidden;font-size:13px;line-height:16px;color:#3384ff;text-overflow:ellipsis;white-space:nowrap;
                }
            }
            a {
                position:absolute;left:0;right:0;top:0;bottom:0;z-index:1;
            }
        }
    }
}

.sec_week {
    margin-top:8px;
    .state_week {
        padding:0 16px;background:#202227;border-bottom:1px solid #30333b;
        .tab_week {
            display:flex;justify-content:space-between;align-items:center;padding:11px 0;
            li {
                width:calc(100% / 7);
                button {
                    display:block;
                    width:100%;height:55px;border-radius:10px;
                    font-weight:300;
                    font-size:13px;line-height:15px;text-align:center;color:#a7acb9;
                    strong {
                        font-weight:normal;
                        .num {
                            display:block;margin-top:8px;font-weight:400;font-size:15px;
                        };
                    }
                }
                &.on {
                    button {
                        background:#fff;color:#24272d;
                    }
                }
            }
        }
    }

    .list_week {
        padding:12px 24px 48px;
        li {
            .tit_date {
                display:block;width:100px;height:24px;
                margin:12px auto 0;
                border-radius:50px;background:#202227;
                font-weight:400;font-size:13px;line-height:22px;color:#c6cad2;text-align:center;
            }
            .box_week {
                position:relative;margin-top:12px;
                .area_tit {
                    position:relative;padding:44px 18px 16px;background:#30333b;border:1px solid rgba(69, 74, 84, 0.5);border-radius:10px;
                    .area_label {
                        position:absolute;left:18px;top:-2px;
                        em {
                            display:inline-block;padding:0 8px;height:24px;font-weight:400;font-size:13px;line-height:24px;border-bottom-left-radius:5px;
                            &.ipo {
                                background:#676d79;
                            }
                            &.listed {
                                background:rgba(255, 157, 66, 0.7);
                            }
                            &.performanc {
                                background:#4778ff;
                            }
                            &.event {
                                background:#946efb;
                            }
                            &.publicoffering {
                                background:rgba(79, 189, 136, 0.7);
                            }
                            & + em {
                                border-bottom-left-radius:0
                            }
                            &:last-of-type {
                                border-bottom-right-radius:5px
                            }
                        }
                    }
                    .tit_week {
                        display: flex;flex-direction:row;
                        .tit {
                            display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow: hidden;text-overflow: ellipsis;
                            font-size:20px;line-height:24px;color:#f9fafb;vertical-align:top;margin-right:6px;
                        }
                        .txt { 
                            display:inline-block;white-space: nowrap;
                            font-weight:400;
                            margin-top:5px;
                            font-size:12px;line-height:14px;color:#888e9a;vertical-align:top;
                        }
                    }
                    .offering {
                        display:inline-block;padding:0 12px;height:28px;
                        margin-top:6px;font-size:15px;line-height:26px;
                        color:#f9fafb;
                        border:1px solid rgba(103, 109, 121, 0.35);
                        border-radius:4px;background-color: rgba(69, 74, 84, 0.6);
                        dt {
                            float:left;
                        }
                        dd {
                            float:left;
                            &::before {
                                content: "";
                                display:inline-block;width:1px;height:10px;
                                margin:8px 8px 0;
                                background:rgba(103, 109, 121, 0.35);vertical-align:top;
                            }
                        }
                    }
                    .per {
                        margin-top:6px;
                        .price {
                            display:inline-block;margin:2px 4px 0 0;font-weight:400;font-size:16px;line-height:20px;vertical-align:top;
                        }
                        .point {
                            display:inline-block;height:24px;padding:0 4px;
                            font-weight:400;font-size:13px;line-height:22px;
                            border-width:1px;border-style:solid;border-radius:4px;vertical-align:top;
                        }
                        &.up {
                            .price {color:#ff3535}
                            .point {border:1px solid rgba(255, 53, 53, 0.2);
                                background-color: rgba(255, 53, 53, 0.1);color:#ff3535}
                        }
                        &.down {
                            .price {color:#4778ff}
                            .point {border:1px solid rgba(71, 120, 255, 0.2);
                                background-color: rgba(71, 120, 255, 0.1);color:#4778ff}
                        }
                    }
                }
                .area_cont {
                    display:none;
                    padding:16px 18px 18px;
                    background:#202227;
                    border-bottom-left-radius:10px;border-bottom-right-radius:10px;
                    .list_cont {
                        li {
                            overflow:hidden;
                            .tit {
                                float:left;margin-right:8px;font-weight:300;font-size:15px;line-height:18px;color:#888e9a;
                            }
                            .cont {
                                display:block;overflow:hidden;font-size:15px;line-height:18px;color:
                                #c6cad2;
                            }
                            & + li {
                                margin-top:4px;
                            } 
                        }
                    }
                    .event_cont {
                        .tit {
                            display:block;
                            font-weight:300;font-size:15px;line-height:18px;color:#888e9a;
                        }
                        .desc {
                            margin-top:10px;font-size:15px;line-height:20px;color:#c6cad2;
                        }
                    }

                }
                .btn_detail {
                    position:absolute;right:14px;top:11px;width:16px;height:16px;background-image:url(../../public/img/btn_open.png);background-repeat:no-repeat;background-position:0 0;background-size:16px auto;
                }
                &.open {
                    .area_tit {
                        border-bottom-left-radius:0;border-bottom-right-radius:0;
                        .tit_week {
                            display:block;flex-direction:unset;
                            .tit {
                                display:inline;-webkit-box-orient:unset;-webkit-line-clamp:unset;
                                text-overflow:unset;
                            }
                            .txt {
                                white-space:unset;
                            }
                        }
                    }
                    .area_cont {
                        display:block;
                    }
                    .btn_detail {
                        background-image:url(../../public/img/btn_closed.png);
                    }
                }
            }
            &.on {
                .tit_date {
                    border:1px solid rgba(237, 239, 242, 0.5);
                }
            }
        }
    }
   
}